*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}

ul,
ol {
  list-style-type: none;

}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

}

.header {
  padding: 20px 0;
  background-color: #023208;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-basis: 50%;
  font-size: 30px;
  font-weight: 700;
  color: #0d4ee5;
}

.menu {
  flex-basis: 50%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------my-blog------------------- */


.my-blog {
  height: 100vh;
  background-color: #9fb2ea;
}

.title {
  font-size: 40px;
  text-align: center;
}

.my-blog__title {
  padding-top: 40px;
}

.my-blog__content {
  margin-top: 40px;
  margin-top: 40px;
}

.my-blog__content p:not(:last-child) {
  margin-bottom: 20px;
  text-align: justify;
}